pages:
  stage: deploy
  image:
    name: docker.io/squidfunk/mkdocs-material:9.7.1
    entrypoint: [""]
  script:
    - mkdocs build --strict --verbose --site-dir public
  artifacts:
    paths:
      - public
  rules:
    - if: $CI_COMMIT_BRANCH == "website"
