site_name: Vim 9 plugin for Lean
repo_name: gitlab<br>castedo/vim9-lean
repo_url: https://gitlab.com/castedo/vim9-lean
edit_uri: -/edit/website/docs
theme:
  name: material
  features:
    - content.action.edit
    - content.code.copy
    - toc.integrate
    - navigation.footer
    - navigation.top
    - navigation.tracking
markdown_extensions:
  - admonition
nav:
  - Home: index.md
  - Install: install.md
  - Math Input: math-input.md
